.mainDiv {
    background-image: url("../../../../Assets/drawable-xxxhdpi/rectangle.png");
    background-position: center;
    background-size: cover;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 10px 10px;
  }
  
  .nav {
    padding: 5px 0;
    display: flex;
    align-items: center;
    box-shadow: none;
  }
  
  .nav > img {
    width: 10px;
    margin-right: 15px;
  }
  
  .nav > h6 {
    font-family: "SFProDisplay-Regular";
    font-size: 18px;
    text-align: left;
    line-height: 21px;
    color: #ffffff;
    letter-spacing: 0.02px;
    font-weight: 500;
  }
  
  .main {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 10px;
  }
  
  .main label {
    font-size: 14px;
    font-weight: 500;
    color: #525252;
  }
  
  .main input {
      width: 150px;
      height: 20px;
    border: 2px solid #eeeeee;
    border: 0px;
    border-bottom: 1px solid #686767;
    /* padding: 5px; */
    font-size: 13px;
    margin-bottom: 20px;
    outline: none;
  }

  .main button{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #1AAEAC;
    color: #fff;
    margin-left: 40%;
  }