.mainDiv{
    font-family:'SFProDisplay-Regular' ;
    padding: 50px 82px;
    width: 100%;
    min-height: 100vh;
}

.naver{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainDivm .naver h1{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .02px;
    color:#000000;
}

.naver .search input[type='text']{
    padding: 5px 10px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px -5px black;
}

.naver .search input[type='submit']{
    background-color: rgb(191, 191, 212);
    padding: 5px 10px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px -5px black;

}

.card{
    margin-top: 20px;
    min-height:300px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-aro; */
}

.smCard{
    position: relative;
    margin: 15px 15px 15px 0px;
    padding: 35px 35px;
    box-shadow: 0 2px 13px -5px  #47464646;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.smCard:hover{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
    transform: scale(1.01);
    border: 2px solid #91bac746;    
    box-shadow: 0 2px 13px -5px  #91bac746;
    z-index: 99;    
}

.btn{
    position: fixed;
    bottom: 5%;
    left: 0%;
    margin-top: 15px;
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.btnInner{
    padding: 5px 15px;
    font-size: 16px;
    background-color: #000000;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#nextIco{
    width: 20px;
    height: 20px;
    background-image: url('../../../Assets/Icons/invalid_name.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.smCard div:nth-child(2){
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
    color: #292929;
    font-size: 15px;
    letter-spacing: .2px;
}

#one,#two,#three{
    width: 80px;
    height: 80px;
} 

 

@media (max-width:500px){
    .mainDiv{
        padding: 10px 10px;
    }

    .smCard{
        min-width: 90px;
        margin:10px 10px;
        padding: 10px 10px ;
    }

    #one,#two,#three{
        width: 50px;
        height: 50px;
        /* background-position: center;
        background-size: 100% 100%;
        background-repeat:no-repeat; */
    }


    .card{
        justify-content: space-evenly;
        margin-top: 2px;
    }

    .btn{
        bottom: 10px;
    }
    .btnInner{
        width: 80%;
    }


    .smCard div:nth-child(2){
        font-size: 12px;
    }

    .naver{
        flex-direction: column;
    }
}